<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="w-full h-full bg-zinc-900 p-10 text-white">
      <div class="nav mb-4">
        <a class="text-blue-500" href="/read">Read....</a>
      </div>
      <h1 class="mb-2 text-3xl">Update User</h1>
      <form action="/update/<%= user._id %>" method="post" class="flex flex-wrap gap-2">
        <input
          class="px-5 py-3 border bg-transparent border-zinc-700 outline-none border-2"
          type="text"
          name="name"
          placeholder="name"
          value="<%= user.name %>"
        />
        <input
          class="px-5 py-3 border bg-transparent border-zinc-700 outline-none border-2"
          type="text"
          name="email"
          placeholder="email"
          value="<%= user.email %>"
        />
        <input
          class="px-5 py-3 border bg-transparent border-zinc-700 outline-none border-2"
          type="text"
          name="image"
          placeholder="image url"
          value="<%= user.image %>"
        />
        <input
          class="px-5 py-3 bg-yellow-500 rounded-lg ml-3 text-black"
          type="submit"
          value="Update User"
        />
      </form>
    </div>
  </body>
</html>
